$success: #23BB33;
$warning: #EFAC4F;
$info: #59C1DD;
$danger: #BC2025;
$muted: #AAAAAA;

$primary: #34A884;
$secondary: #F0F2F5;
$accent: #C8B8DB;
$high-light: #DFA8E3;
$textColor: #F9F4F5;
$blackColor: #000000;
$backgroundColor : #DDDEDD;